/* vue use */
[v-cloak]{
    display: none;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .2s;
}
.fade-enter, .fade-leave-to{
    opacity: 0;
}

/* fixed scroll use */
body, html{
    height: auto;
}

@media screen and (min-height: 910px) {
    section.kv{
        height: 100vh;
    }
}
@media screen and (max-device-width:1024px) {
    section.kv{
        height: 100vh;
    }
}
@media screen and (min-width: 375px) and (max-width: 767px){
    .game {
        height: calc(100vh - 57px);
    }
}
/* scrollreveal use*/
.kv h1, .kv .kv-product, .bubbleWord, .bubbleImg, .intro .txt-fir, .intro .txt-sec, .intro .txt-thir, .game .game-tt, .form h2, .form .sub, .form .main, .about h2, .about h3, .about .feature, .about .sub, .about .btn, .productBox .pro-kv, .productBox .product .bottom, .shop h2, .shop h3, .shop .w-btn, .shop .img, .shop .btn, .shop .txt, .form .img img, .productBox .product.one .top .proBox, .productBox .product.two .detail, .form .detail, .productBox .product.one .detail, .productBox .product.two .top .proBox, .kv .mainBox .poabs.bubbleWord, .kv .mainBox .poabs .bubbleImg, .game .step1 .main{
    visibility: hidden;
}

/* fixed btn use */
.btn-game .triBox.rotate{
    transform: rotate(180deg);
}

/* kv bubble use */
.bubble{
    position: absolute;
    width: 50px;
    top: 100%;
    left: 10%;
    opacity: 0;
    z-index: -1;
}
.bubble.one{
    width: 35px;
    left: 5%;
    animation: bubble 4s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
    animation-delay: 1.5s;
}
.bubble.two{
    width: 15px;
    left: 17.5%;
    animation: bubble 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
    animation-delay: 1.75s;
}
.bubble.three{
    width: 55px;
    left: 22.5%;
    animation: bubble 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
}
.bubble.four{
    width: 75px;
    left: 30%;
    animation: bubble 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
}
.bubble.five{
    width: 35px;
    left: 55%;
    animation: bubble 4.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
    animation-delay: 2s;
}
.bubble.six{
    width: 40px;
    left: 65%;
    animation: bubble 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
    animation-delay: 2s;
}
.bubble.seven{
    width: 30px;
    left: 76%;
    animation: bubble 3.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
    animation-delay: 2s;
}
.bubble.eight{
    width: 60px;
    left: 85%;
    animation: bubble 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
    animation-delay: 2s;
}
@keyframes bubble{
    0% {
        top: 100%;
        transform: translate3d(0, 0, 0);
    }
    33% {
        transform: translate3d(15px, 0, 0);
    }
    40%{
        opacity: .3;
    }
    66% {
        transform: translate3d(-25px, 0, 0);
        opacity: .3;
    }
    100% {
        top: 0;
        transform: translate3d(0, 0, 0);
        opacity: 0;
    }
}

/* game leaf use */
.game .tree.poabs{
    z-index: 2;
}
.game .leaf{
    position: absolute;
    top: -75px;
    width: 150px;
    height: 150px;
    background-size: cover;
    transform: scale(.55);
    z-index: 1;
}
.game .leaf01{
    left: 80%;
    background: url(../img/leaf01.png) no-repeat left center;
    animation: leaf01 5s steps(30) infinite;
    animation-delay: .25s; 
    transform: scale(.475);
}
.game .leaf02{
    left: 85%;
    background: url(../img/leaf02.png) no-repeat left center;
    animation: leaf02 4s steps(30) infinite;
    animation-delay: 4s; 
    transform: scale(.35);
}
.game .leaf03{
    left: 90%;
    background: url(../img/leaf01.png) no-repeat left center;
    animation: leaf03 4.5s steps(30) infinite;
    animation-delay: 1s; 
}
@media screen and (max-width: 767px) {
    .game .leaf{
        transform: scale(.4);
        top: -50px;
    }
    .game .leaf01{
        left: 70%;
        transform: scale(.375);
    }
    .game .leaf02{
        left: 72.5%;
        transform: scale(.25);
    }
    .game .leaf03{
        left: 75%;
    }
}
@keyframes leaf01{
    0% {
        background-position: 0px 0;
    }
    80% {
        background-position: -4500px 0;
        top: 100%;
        left: 15%;
        opacity: 0;
    }
    100%{
        background-position: -4500px 0;
        top: 100%;
        left: 10%;
        opacity: 0;
    }
}
@keyframes leaf02{
    0% {
        background-position: 0px 0;
    }
    80% {
        background-position: -4500px 0;
        top: 100%;
        left: 70%;
        opacity: 0;
    }
    100%{
        background-position: -4500px 0;
        top: 100%;
        left: 60%;
        opacity: 0;
    }
}
@keyframes leaf03{
    0% {
        background-position: 0px 0;
    }
    80% {
        background-position: -4500px 0;
        top: 100%;
        left: 60%;
        opacity: 0;
    }
    100%{
        background-position: -4500px 0;
        top: 100%;
        left: 50%;
        opacity: 0;
    }
}

/* game option use */
.game .stickerBox li{
    transform: scale(0);
}
.game .stickerBox .active li:nth-child(1){
    transform: scale(1);
    transition: transform .5s ease 1.5s;
}
.game .stickerBox .active li:nth-child(2){
    transform: scale(1);
    transition: transform .5s ease 1.75s;
}
.game .stickerBox .active li:nth-child(3){
    transform: scale(1);
    transition: transform .5s ease 2s;
}
.game .stickerBox .active li:nth-child(4){
    transform: scale(1);
    transition: transform .5s ease 2.25s;
}
.game .stickerBox .active li:nth-child(5){
    transform: scale(1);
    transition: transform .5s ease 2.5s;
}
.game .stickerBox .active li:nth-child(6){
    transform: scale(1);
    transition: transform .5s ease 2.75s;
}
.game .game-sub{
    transform: translate3d(0, -25px, 0);
    opacity: 0;
}
.game .game-sub.active{
    transform: translate3d(0, 0, 0);
    opacity: 1;
    transition: transform .75s ease 3.25s, opacity .75s ease 3.25s;
}

/* android input use */
.input_focus.trans_bg {
    display: none;
}